<!DOCTYPE html>
<!--[if lt IE 9]><html class="no-js lt-ie10 lt-ie9"> <![endif]-->
<!--[if IE 9]><html class="no-js lt-ie10"> <![endif]-->
<!--[if gt IE 9]><!--> <html class="no-js"> <!--<![endif]-->
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1">

{# we can't concatenate & raw-ify it at once, so we have to do this in two steps... #}
{% if block('title') %}
	{% set _title = block('title') ? block('title') ~ ' | ' %}
{% elseif entry is defined %}
	{% set _title = entry.title ~ ' | ' %}
{% endif %}
<title>{{ _title is defined ? _title | raw }}{{ siteName }}</title>

{# {{ craft.minimee.css([
	'/assets/css/app.css'
]) }} #}
<link rel="stylesheet" type="text/css" href="/assets/css/app.min.v{{- craft.config.get('version', 'app') -}}.css">

{% include "_includes/analytics.html" %}

{# Only put this in the header if all the scripts are Async! #}
<!--[if gte IE 9]><!-->
{% include "_includes/scripts.html" %}
<!--<![endif]-->

</head>

<body class="body {% block bodyClass %}{% endblock %}">

	{% block content %}{% endblock %}

	{# If in local development, include our debugging helper #}
	{% if craft.config.get('environment', 'app') == 'local' %}
		{% include '_includes/debugpsd' %}
	{% endif %}
</body>
</html>
