/*==========================================
=            Typography Unrouped            =

Use if your fonts are not grouped eg, defined
so you need a different font-family for italic
bold etc.

==========================================*/


/**
 * Typography
 *
 */

/// Default line height
///
/// @group settings
$line-height-base: 1.6;

/// Default font size
///
/// @group settings
$font-size-base: 16px;

/// Default font size on mobile
///
/// @group settings
$font-size-base--sm: 14px;

/// The default sans-serif font, the base font used for the site.
///
/// @group settings
$font-family-sans-serif: sans-serif;

/// A "thin" weight of the sans-serif font, thinnest in the site's sans-serif family.
///
/// @group settings
$font-family-sans-serif-thin: sans-serif;

/// A "light" weight of the sans-serif font - slightly heavier than the "thin" weight, and slightly lighter than the default.
///
/// @group settings
$font-family-sans-serif-light: sans-serif;

/// The italic variant of the "light" weight.
///
/// @group settings
$font-family-sans-serif-light-italic: sans-serif;

/// A "medium" weight of the sans-serif font - slightly heavier than the default.
///
/// @group settings
$font-family-sans-serif-medium: sans-serif;

/// The default serif font for the site.
///
/// @group settings
$font-family-serif: serif;

/// The italic variant of the default serif font.
///
/// @group settings
$font-family-serif-italic: serif;

///  A "light" weight of the serif font.
///
/// @group settings
$font-family-serif-light: serif;

/// The italic variant of the "light" serif.
///
/// @group settings
$font-family-serif-light-italic: serif;

/// The default base family
///
/// @see $font-family-sans-serif
/// @group settings
$font-family-base: $font-family-sans-serif;


/// Mixin encapsulating every style necessary for the default sans-serif font.
///
/// @see $font-family-sans-serif
/// @group settings
@mixin sans-serif() {
    font-family: $font-family-sans-serif;
    font-weight: 400;
    font-style: normal;
}

/// Mixin encapsulating every style necessary for the "thin" sans-serif font.
///
/// @see $font-family-sans-serif-thin
/// @group settings
@mixin sans-serif-thin() {
    font-family: $font-family-sans-serif-thin;
    font-weight: 200;
    font-style: normal;
}

/// Mixin encapsulating every style necessary for the "light" sans-serif font.
///
/// @see $font-family-sans-serif-light
/// @group settings
@mixin sans-serif-light() {
    font-family: $font-family-sans-serif-light;
    font-weight: 300;
    font-style: normal;
}

/// Mixin encapsulating every style necessary for the italic variant of the "light" sans-serif font.
///
/// @see $font-family-sans-serif-light-italic
/// @group settings
@mixin sans-serif-light-italic() {
    font-family: $font-family-sans-serif-light-italic;
    font-weight: 300;
    font-style: italic;
}

/// Mixin encapsulating every style necessary for the "medium" sans-serif font.
///
/// @see $font-family-sans-serif-medium
/// @group settings
@mixin sans-serif-medium() {
    font-family: $font-family-sans-serif-medium;
    font-weight: 500;
    font-style: normal;
}

/// Mixin encapsulating every style necessary for the default serif font.
///
/// @see $font-family-serif
/// @group settings
@mixin serif() {
    font-family: $font-family-serif;
    font-weight: 400;
    font-style: normal;

    // Better Font Rendering
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/// Mixin encapsulating every style necessary for the italic variant of the default serif font.
///
/// @see $font-family-serif-italic
/// @group settings
@mixin serif-italic() {
    font-family: $font-family-serif-italic;
    font-weight: 400;
    font-style: italic;

    // Better Font Rendering
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/// Mixin encapsulating every style necessary for the "light" serif font.
///
/// @see $font-family-serif-light
/// @group settings
@mixin serif-light() {
    font-family: $font-family-serif-light;
    font-weight: 300;
    font-style: normal;

    // Better Font Rendering
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/// Mixin encapsulating every style necessary for the italic variant of the "light" serif font.
///
/// @see $font-family-serif-light-italic
/// @group settings
@mixin serif-light-italic() {
    font-family: $font-family-serif-light-italic;
    font-weight: 300;
    font-style: italic;

    // Better Font Rendering
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


/// A placeholder variable encapsulating every style necessary for the default sans-serif font.
///
/// @see {mixin} sans-serif
/// @group settings
%sans-serif {
    @include sans-serif();
}

/// A placeholder variable encapsulating every style necessary for the "thin" sans-serif font.
///
/// @see {mixin} sans-serif-thin
/// @group settings
%sans-serif-thin {
    @include sans-serif-thin();
}

/// A placeholder variable encapsulating every style necessary for the "light" sans-serif font.
///
/// @see {mixin} sans-serif-light
/// @group settings
%sans-serif-light {
    @include sans-serif-light();
}

/// A placeholder variable encapsulating every style necessary for the italic variant of the "light" sans-serif font.
///
/// @see {mixin} sans-serif-light-italic
/// @group settings
%sans-serif-light-italic {
    @include sans-serif-light-italic();
}

/// A placeholder variable encapsulating every style necessary for the "medium" sans-serif font.
///
/// @see {mixin} sans-serif-medium
/// @group settings
%sans-serif-medium {
    @include sans-serif-medium();
}

/// A placeholder variable encapsulating every style necessary for the default serif font.
///
/// @see {mixin} serif
/// @group settings
%serif {
    @include serif();
}

/// A placeholder variable encapsulating every style necessary for the italic variant of the default serif font.
///
/// @see {mixin} serif-italic
/// @group settings
%serif-italic {
    @include serif-italic();
}

/// A placeholder variable encapsulating every style necessary for the "light" version of the serif font.
///
/// @see {mixin} serif-light
/// @group settings
%serif-light {
    @include serif-light();
}

/// A placeholder variable encapsulating every style necessary for the italic variant of the "light" version of the serif font.
///
/// @see {mixin} serif-light-italic
/// @group settings
%serif-light-italic {
    @include serif-light-italic();
}


