{# Google Analytics -#}
<script>
	(function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
	function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
	e=o.createElement(i);r=o.getElementsByTagName(i)[0];
	e.src='https://www.google-analytics.com/analytics.js';
	r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
	{# only track view if production, not admin, and not live preview -#}
	{%- if craft.config.get('environment', 'app') == 'production' and not craft.request.isLivePreview and (not currentUser or not currentUser.admin) -%}
		ga('create','{{- craft.config.get('googleAnalyticsID', 'app') -}}','auto');
		ga('send','pageview');
	{%- endif -%}
</script>
