


<div id="draggableOuter" class="sizeOverlays js-debug-hide">
	<div class="draggable draggable--25">25</div>
	<div class="draggable draggable--25">25</div>
	<div class="draggable draggable--45">45</div>
	<div class="draggable draggable--45">45</div>
	<div class="draggable draggable--60">60</div>
	<div class="draggable draggable--60">60</div>
	<div class="draggable draggable--30">30</div>
	<div class="draggable draggable--30">30</div>
	<div class="draggable draggable--20">20</div>
	<div class="draggable draggable--26">26</div>
	<div class="draggable draggable--26">26</div>
	<div class="draggable draggable--26">26</div>
</div>

<div class="t12col debugoverlays js-debug-hide">
	<div class="t12col__col"></div>
	<div class="t12col__col"></div>
	<div class="t12col__col"></div>
	<div class="t12col__col"></div>
	<div class="t12col__col"></div>
	<div class="t12col__col"></div>
	<div class="t12col__col"></div>
	<div class="t12col__col"></div>
	<div class="t12col__col"></div>
	<div class="t12col__col"></div>
	<div class="t12col__col"></div>
	<div class="t12col__col"></div>
</div>

<div class="t3 debugoverlays js-debug-hide">
	<div class="t3__col"></div>
	<div class="t3__col"></div>
	<div class="t3__col"></div>
</div>

<div id="toggle-sizing">SIZING</div>
<div id="toggle-columns">COLUMNS</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.18.2/TweenLite.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.18.2/plugins/CSSPlugin.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.18.2/utils/Draggable.min.js"></script>
<script>
(function() {
	Draggable.create(".draggable", {type:"x,y", bounds:"#draggableOuter"});

	var sizingBtn = document.querySelector('#toggle-sizing');
	var columnsBtn = document.querySelector('#toggle-columns');
	var overlays = document.querySelectorAll('.debugoverlays');
	var sizing = document.querySelectorAll('.sizeOverlays');



	window.toggleDebug = function() {

		[].forEach.call(overlays, function(el) {
			el.classList.toggle('js-debug-hide');
		});

	};

	window.toggleSizing = function() {

		[].forEach.call(sizing, function(el) {
			el.classList.toggle('js-debug-hide');
		});

	};

	sizingBtn.addEventListener('click', toggleSizing);
	columnsBtn.addEventListener('click', toggleDebug);

})();
</script>
