{#
	DO NOT PUT ANY NON-ASYNC SCRIPTS IN HERE!

	We're loading in the header to ensure that the browser can start fetching them asap, rather than actually waiting for the whole page,
	but withough renderblocking.

	Our site global "APP" variable
#}
<script>
	var APP = window.APP || {};
	APP.debug = {{ craft.config.devMode ? 'true' : 'false' }};
	APP.environment = '{{ craft.config.__environment }}';
	APP.isMobileBrowser = {{ craft.request.isMobileBrowser ? 'true' : 'false' }};
</script>

{#
	Async head vendor stuff.  The main bundle is in the footer, this is just a few
	helpers that aren't adding functionality, just some cross borwser help
#}
<script src="{{siteUrl}}assets/js/bundle.min.v{{ craft.config.__siteVersion }}.js" async></script>
