{#
	=============================
	Add your scripts.
	Note the behaviour of the gulpfile and the bower inject code.
	=============================
#}

{#
	Our site global "APP" variable
#}
<script>

	var APP = window.APP || {};
	APP.debug = {{ craft.config.devMode ? 'true' : 'false' }};
	APP.environment = '{{ craft.config.environment }}';
	APP.isMobileBrowser = {{ craft.request.isMobileBrowser ? 'true' : 'false' }};

</script>

{#
	Our default Minimee config embeds scripts async.
	If you have scripts that must be loaded before the async ones, specify those here.
#}
{# {{ craft.minimee.js([
	'/path/to/script.js'
],
{
	jsReturnTemplate : '<script src="%s"></script>'
} }} #}


{#
	App js goes here
#}
{{ craft.minimee.js([
	<!-- bower:js -->
	<!-- endinject -->
	'/assets/js/app.js'
]) }}



{# List other scripts here if you wish #}
