{#

    Add your scripts.  Note the behaviour of the gulpfile and the bower inject code.

#}

{#
    Our site global "APP" variable
#}
<script>

    var APP = window.APP || {};
    APP.debug = {{ craft.config.devMode ? 'true' : 'false' }};
    APP.environment = '{{ craft.config.environment }}';
    APP.isMobileBrowser = {{ craft.request.isMobileBrowser ? 'true' : 'false' }};

</script>

{# Non async scripts go here, as one non-async bundle.  Maybe we want it async? #}
{# {{ craft.minimee.js([

],
{
    minifyJsEnabled : true,
}) }} #}

{# Your app goes here #}
{{ craft.minimee.js([
    <!-- bower:js -->
    <!-- endinject -->
    '/assets/js/app.js'
],
{
    jsReturnTemplate : '<script src="%s" async></script>'
}) }}



{# List other scripts here if you wish #}
